.App {
  /* background: #ae5f75; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: auto;
  
}

.container{
  width: 100%;
  overflow: hidden;
  padding: 10px;
  
  
}

.container div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px;
}

input[type="text"]{
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
 
}

button{
  background: white;
  border: none;
  padding: 20px;
  border-radius:0 5px 5px  ;
  font-weight: bold;
}


textarea:focus, input:focus {
  outline: none;
}

h1{
  text-align: center;
}